
/*.time {
	min-width: 150px;
	text-align: right;
}*/

button {
	background: #000;
	color: #fff;
	transition: all 0.4s ease;
}

button:hover {
	background: lightgray;
	color: #000;
	cursor: pointer;
}

.btn:focus {
	color: #fff;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

img {
	width: 50px;
	margin: -10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.pomodoro-img {
	display: inline-block;
	background-image: url('../img/pomodoro.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	width: 30px;
	height: 30px;
	transition: transform 0.7s ease;
}
.pomodoro-img:hover {
	transform: rotate(30deg);
}
